h1{
    background-color:rgba(104, 207, 202, 0.445);
    display: inline-block;
    padding: 20px;
    border: 2px solid white;
}
a{
    margin: 0px 30px;
}

.more{
    padding: 10px;
    background-color: rgba(2, 2, 2, 0.616);
}
p{
    display: inline-block;
    
    font-size: 30px;
}