<div class="row">
    <div class="col-md-3">
        <div class="row">
            <button class="btn" (click)="Increment()"><i class="glyphicon glyphicon-plus" style="color: green; "></i></button>
        </div>
        <br>
        <div class="row">
            <button class="btn" (click)="Decrement()"><i class="glyphicon glyphicon-minus" style="color: red; "></i></button>
        </div>
    </div>
    <div class="col-md-3 ">
        <br>
        <p style="font-size: 30px;">{{counter}}</p>
    </div>
</div>
